<style>
  .show-grid{
    background: #a7b1c2;
    border: 2px solid white;
  }
</style>
<%= Theme::Layout::Wrapper::Cell.new(fluid: true, klass: "my_class").() do %>
  <% html = Theme::Layout::Cols::Cell.new(md: {col: 12}).() do %>
    <% "<h2>GRID</h2>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 1}, klass: "show-grid").() do %>
    <% "<h3>COL 1</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 1}, klass: "show-grid").() do %>
    <% "<h3>COL 1</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 1}, klass: "show-grid").() do %>
    <% "<h3>COL 1</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 1}, klass: "show-grid").() do %>
    <% "<h3>COL 1</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 1}, klass: "show-grid").() do %>
    <% "<h3>COL 1</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 1}, klass: "show-grid").() do %>
    <% "<h3>COL 1</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 1}, klass: "show-grid").() do %>
    <% "<h3>COL 1</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 1}, klass: "show-grid").() do %>
    <% "<h3>COL 1</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 1}, klass: "show-grid").() do %>
    <% "<h3>COL 1</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 1}, klass: "show-grid").() do %>
    <% "<h3>COL 1</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 1}, klass: "show-grid").() do %>
    <% "<h3>COL 1</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 1}, klass: "show-grid").() do %>
    <% "<h3>COL 1</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 2}, klass: "show-grid").() do %>
    <% "<h3>COL 2</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 2}, klass: "show-grid").() do %>
    <% "<h3>COL 2</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 2}, klass: "show-grid").() do %>
    <% "<h3>COL 2</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 2}, klass: "show-grid").() do %>
    <% "<h3>COL 2</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 2}, klass: "show-grid").() do %>
    <% "<h3>COL 2</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 2}, klass: "show-grid").() do %>
    <% "<h3>COL 2</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 3}, klass: "show-grid").() do %>
    <% "<h3>COL 3</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 3}, klass: "show-grid").() do %>
    <% "<h3>COL 3</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 3}, klass: "show-grid").() do %>
    <% "<h3>COL 3</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 3}, klass: "show-grid").() do %>
    <% "<h3>COL 3</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 4}, klass: "show-grid").() do %>
    <% "<h3>COL 4</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 4}, klass: "show-grid").() do %>
    <% "<h3>COL 4</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 4}, klass: "show-grid").() do %>
    <% "<h3>COL 4</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 5}, klass: "show-grid").() do %>
    <% "<h3>COL 5</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 7}, klass: "show-grid").() do %>
    <% "<h3>COL 7</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 6}, klass: "show-grid").() do %>
    <% "<h3>COL 6</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 6}, klass: "show-grid").() do %>
    <% "<h3>COL 6</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 7}, klass: "show-grid").() do %>
    <% "<h3>COL 7</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 5}, klass: "show-grid").() do %>
    <% "<h3>COL 5</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 8}, klass: "show-grid").() do %>
    <% "<h3>COL 8</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 4}, klass: "show-grid").() do %>
    <% "<h3>COL 4</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 9}, klass: "show-grid").() do %>
    <% "<h3>COL 9</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 3}, klass: "show-grid").() do %>
    <% "<h3>COL 3</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 10}, klass: "show-grid").() do %>
    <% "<h3>COL 10</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 2}, klass: "show-grid").() do %>
    <% "<h3>COL 2</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 11}, klass: "show-grid").() do %>
    <% "<h3>COL 11</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 1}, klass: "show-grid").() do %>
    <% "<h3>COL 1</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 12}, klass: "show-grid").() do %>
    <% "<h3>COL 12</h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 9, glide: 3}, klass: "show-grid").() do %>
    <% "<h3>COL 9 GLIDE 3 </h3>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 12}).() do %>
    <% "<h2>ALERT</h2>" %>
  <% end %>
  <% html += Theme::Layout::Cols::Cell.new(md: {col: 12}, klass: "l-m-t-l").() do %>
    <% html_alert = Theme::Component::Alert::Cell.new(text: "Default example. Click <here, http://my.link.com>").() %>
    <% html_alert += Theme::Component::Alert::Cell.new(type: "info", text: "Info example. Click <here, http://my.link.com>").() %>
    <% html_alert += Theme::Component::Alert::Cell.new(type: "success", text: "Success example. Click <here, http://my.link.com>").() %>
    <% html_alert %>
    <% html_alert += Theme::Component::Alert::Cell.new(type: "danger", text: "Danger example. Click <here, http://my.link.com>").() %>
    <% html_alert %>
    <% html_alert += Theme::Component::Alert::Cell.new(type: "warning", text: "Warning example. Click <here, http://my.link.com>").() %>
    <% html_alert %>
  <% end %>
  <% html %>
<% end %>
