/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

// LAYOUT

// CONTAINERS

.l-wrapper{
  @extend .container;
}

.l-wrapper-fluid{
  @extend .container-fluid;
}

// ROWS

.l-row{
  @extend .row
}

// COLUMNS

.l-1-col-md{
  @extend .col-md-1;
}

.l-2-col-md{
  @extend .col-md-2;
}

.l-3-col-md{
  @extend .col-md-3;
}

.l-4-col-md{
  @extend .col-md-4;
}

.l-5-col-md{
  @extend .col-md-5;
}

.l-6-col-md{
  @extend .col-md-6;
}

.l-7-col-md{
  @extend .col-md-7;
}

.l-8-col-md{
  @extend .col-md-8;
}

.l-9-col-md{
  @extend .col-md-9;
}

.l-10-col-md{
  @extend .col-md-10;
}

.l-11-col-md{
  @extend .col-md-11;
}

.l-12-col-md{
  @extend .col-md-12;
}

.l-glide-3-col-md{
  @extend .col-md-offset-3;
}

//MARGINS

.l-m-t-l{
  margin-top: 30px;
}

// COMPONENT

// ALERTS

.c-alert{
  @extend .alert;
}

.c-alert.c-info{
  @extend .alert-info;
}

.c-alert.c-success{
  @extend .alert-success;
}

.c-alert.c-danger{
  @extend .alert-danger;
}

.c-alert.c-warning{
  @extend .alert-warning;
}

.c-alert-link{
  @extend .alert-link
}

// PANEL

.c-panel{
  @extend .panel;
  @extend .panel-default;
}

.c-panel-title{
  @extend .panel-heading;
}

.c-panel-content{
  @extend .panel-body;
}
