<div class="jumbotron">
  <div class="container">
    <h1>Rails blocks theme!</h1>
    <p>We provide a big set of html components to help you build your web application really fast!</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Core</h2>
      <p>Understand how works our core components and how to add support for a new framework.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-3">
      <h2>Components</h2>
      <p>Here is where the fun lives! Check our components and how to use them, we are sure you will enjoy it.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-3">
      <h2>Customizer</h2>
      <p>White label for your application, if you have a multi tenancy application, let your customers choose their own look and feel.</p>
      <p><a class="btn btn-default" href="#" role="button">Soon &raquo;</a></p>
    </div>
    <div class="col-md-3">
      <h2>Showcase</h2>
      <p>We hope to have some themes soon. :)</p>
      <p><a class="btn btn-default" href="#" role="button">Soon &raquo;</a></p>
    </div>
  </div>
</div>
